body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("assets/background.jpeg");
  background-size: cover;
  font-size: 18px;
}

.background{
  width: 100%;
  height: auto;
}

body, a:link, a:visited, a:active{
  color: #000;
}

.title, .btn{
  padding:5px 12px;
  float:right;
}

.title {
  color: #434D46;
  font: 20px/1.1 'Rubik Wet Paint', cursive;
  background-color: #59996D;
  text-shadow: 8px 0 10px #CF4F28, -8px 0 20px #E58039;
}

.btn {
  color: #434D46;
  font: 500 20px/1.2 'Big Shoulders Inline Text', cursive;
  text-decoration: none;
}

.topbar{
  height:32px;
  background-color: #76CB91;
}

.dancer{
  position:absolute;
  /* border: 10px solid red; */
  filter: drop-shadow(30px 10px 4px #BFDB57);
}

/* .lined-up {
  display: inline;
  flex-wrap: wrap;
} */

.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#blinky-dancer {
  width:auto;
  height:20vh;
}

/* #blinky-dancer:hover {
  border: 10px solid blue;
} */

#hippy-dancer {
  width:auto;
  height:20vh;
}

#breaky-dancer {
  width:auto;
  height:20vh;
}

/* font-family: 'Big Shoulders Inline Text', cursive;
font-family: 'Rubik Wet Paint', cursive; */