body, html{
  height:100%;
}
body{
  margin: 0px;
  /* background-image: url("assets/background.jpeg"); */
  font-size: 18px;
}

.background{
  width: 100%;
  height: auto;
}

body, a:link, a:visited, a:active{
  color: #000;
}
.title, .btn{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #76CB91;
}
.title{
  background-color: #59996D;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.lined-up{
  /* top: 100; */
}

.flipped{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#blinky-dancer {
  width:auto;
  height:20vh;
}

/* #blinky-dancer:hover {
  border: 10px solid blue;
} */

#hippy-dancer {
  width:auto;
  height:20vh;
}

#breaky-dancer {
  width:auto;
  height:20vh;
}